/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  position: relative;
  max-width: 1740px;
  min-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  clear: both;
}

.inner::after {
  content: "";
  display: block;
  clear: both;
}

.cboth {
  clear: both;
}

h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  margin: 50px 0 60px;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #c41e20 !important;
}

div.swiper-button-prev,
div.swiper-button-next {
  z-index: 900 !important;
}
div.swiper-button-prev:after,
div.swiper-button-next:after {
  color: #000 !important;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 슬라이드부분 */

.slide_wrap .swiper-slide {
  opacity: 0 !important;
}

.slide_wrap .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

.slide_wrap .swiper-pagination-fraction,
.slide_wrap .swiper-pagination-custom,
.slide_wrap .swiper-horizontal > .swiper-pagination-bullets,
.slide_wrap .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 5% !important;
}

/* 신상품부분 */

/* 스타일 부분 */

.style_wrap .swiper-button-prev {
  left: 20px;
}
.style_wrap .swiper-button-next {
  right: 20px;
}

.style_wrap .swiper-button-prev::after,
.style_wrap .swiper-button-next::after {
  color: #e1e1e1 !important;
}

/* 룩북 */

.lookbook_slide_wrap div.swiper-button-prev,
.lookbook_slide_wrap div.swiper-button-next {
  opacity: 0.5 !important;
}

.lookbook_slide_wrap div.swiper-button-prev:hover,
.lookbook_slide_wrap div.swiper-button-next:hover {
  opacity: 0.8 !important;
}
.lookbook_slide_wrap div.swiper-button-prev {
  left: 50px;
}
.lookbook_slide_wrap div.swiper-button-next {
  right: 50px;
}

.lookbook_slide_wrap div.swiper-button-prev:after,
.lookbook_slide_wrap div.swiper-button-next:after {
  color: #e1e1e1 !important;
}

.swiper-slide-active > .slide_img_wrap > .slide_sub {
  opacity: 1 !important;
}

@media screen and (max-width: 1200px) {
  .inner {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    clear: both;
  }
  h2 {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin: 60px auto 25px;
    width: auto;
    padding-left: 20px;
    position: relative;
    letter-spacing: -0.01em;
  }
  .weekly_wrap.m .swiper {
    padding-bottom: 15px !important;
  }
  .weekly_wrap.m .swiper-slide {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .weekly_wrap.m .swiper-pagination {
    position: absolute !important;
    bottom: 0px !important;
  }
  .weekly_wrap.m .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
}
